html {
	background-color: #553388;

	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

body {
	max-width: 400px;
	margin: 0;
	font-family: Arial, sans-serif;
	color: #ffffff;
}

h1 {
	margin: 0;
	text-align: center;
	font-family: "Text Me One", sans-serif;
	font-weight: normal;
	font-size: 4em;
}

a {
	color: #aaaaff;
	text-decoration: underline;
	cursor: pointer;
}


@font-face {
	font-family: "Text Me One";
	src: url(../../fonts/TextMeOne-Regular.ttf) format("truetype");
}